.row
  .small-6.small-centered.columns
    %h1.center-text.main-header Account Settings

    = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-vertical' }) do |f|
      = f.input :name, :autofocus => true
      = f.input :email, :required => true

      .row
        .small-6.columns
          = image_tag user_picture_url(resource), class: "filepicker-preview"
        .small-6.columns
          = f.label :picture_url, "Upload Your Picture:"
          = f.filepicker_field :picture_url

      %fieldset
        = f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false
        = f.input :password_confirmation, :required => false
        %p.no-margin Leave this blank unless you want to change your password.
      %fieldset
        = f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true
        %p.no-margin You must enter your password to make changes.

      = f.button :submit, 'Update', :class => 'btn-primary expand'

    %br

    %h3 Cancel your account
    %p
      Unhappy? #{link_to "Cancel your account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete}.
