%h1.center-text.main-header Sign up

= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-vertical' }) do |f|
  .row
    .small-6.small-centered.columns
      = f.input :name, :autofocus => true
      = f.input :email, :required => true

      .row
        .small-6.columns
          = f.input :password, :required => true
        .small-6.columns
          = f.input :password_confirmation, :required => true

      = f.button :submit, 'Sign up', :class => 'btn-primary expand radius'

      = render "devise/shared/links"
