%h1.main-header Freelancer Profile

%dl.tabs{ data: { tab: true, options: "deep_linking: true; scroll_to_content: false" } }
  %dd.active= link_to "Categories & Skills", "#categories_and_skills"
  %dd= link_to "Portfolio", "#portfolio"

.tabs-content
  .content.active#categories_and_skills
    = simple_form_for current_user, url: freelance_profile_path do |f|
      %h2.center-text Categories
      .button-labels
        = f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |b|
          = b.check_box
          = b.label class: "small-3 small-centered columns button radius secondary"

      %br
      %br
      %p.center-text
        = f.button :submit, "Save", class: "btn-primary radius"

  .content#portfolio
    portfolio
