<% if user_signed_in? %>
  <li class="has-dropdown">
    <%= link_to "#" do %>
      <%= image_tag "placeholder.jpg" %>
    <% end %>
    <ul class="dropdown">
      <li><%= link_to 'Account Settings', edit_user_registration_path %></li>
      <li><%= link_to 'Freelance Profile', edit_freelance_profile_path %></li>
      <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
    </ul>
  </li>
<% else %>
  <li><%= link_to 'Login', new_user_session_path %></li>
  <li><%= link_to 'Sign up', new_user_registration_path %></li>
<% end %>
